/* 导航栏 */
.navbar-nav {
    margin-left: 5%;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }
}

.img-responsive {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .img-responsive {
        max-width: 50%;
    }
}

.text-content {
    flex: 1;
    padding-left: 20px;
}

/* 查看隐藏 键 */
#toggleButton,
#collapseButton {
    outline: none;
    border: none;
}

#toggleButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

#collapseButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

#additionalContent {
    margin-top: normal;
}

.btn-primary {
    background-color: white;
    color: RoyalBlue;
    border: white;
}

.btn-primary:hover {
    background-color: white;
    color: RoyalBlue;
    border-color: white;
}

.btn-secondary {
    background-color: white;
    color: RoyalBlue;
    border: white;
}

.btn-secondary:hover {
    background-color: white;
    color: RoyalBlue;
    border-color: white;
}

/* 空半行 */
.half-line {
    height: 0.8em;
    display: block;
}